body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}
.nav-link:hover 
{
    color:navy ;
    text-decoration: underline;
    font-size: 17.5px;
}

.navbar
{
    color: black;
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    font-size: 18px;
    z-index: 1030; 
    background-color: rgba(0, 0, 0, 0.4);
}
.nav-img
{
    height: 60px;
    width: 60px;
    border-radius:50%;
    object-fit: cover;
}
.navbar-dark .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-dark .nav-link {
    font-size: 1.2rem;
    transition: color 0.3s;
}

.navbar-dark .nav-link:hover {
    color: #ffc107;
}

.logout
{
    all: unset;
    position:absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    background-color:black;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer; 
    padding:10px 20px;
    display: inline-block;
    font-size: 18px;
}

.hero-section {
    height: 100vh;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
    background: -webkit-linear-gradient(#f093fb, #f5576c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-section p {
    font-size: 22px;
    
}

.hero-section .btn-primary {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    transition: transform 0.3s;
}

.hero-section .btn-primary:hover {
    transform: scale(1.1);
    background: linear-gradient(to right, #2575fc, #6a11cb);
}


   

    /* .search-input {
        width: 70%; 
        font-size: 1rem;
        border: none;
        height: 42px;
		margin-left: 64px;
        /* margin-top: 100px; */
        /* padding-right: 10%;
    } */
/* 
    .search-button {
        width: 8%; 
        height: 42px;
        font-size: 1rem;
        background-color: #febd68;
        border: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        color: white;
        cursor: pointer;
		margin-left: -77px;
    } */
	
/* .search-button:hover {
      fill: blue;
      background-color: blue;
      color: white; 
} 
  .search-button:hover i {
    color: white; 
  } */
  